@model IEnumerable<TaskManager.Web.Models.Dto.TaskManagerDto>
@{
}

<h1 class="mt-3 text-center">Tasks</h1>
<hr />
<div class="d-flex justify-content-end">
    <a class="btn btn-secondary" asp-Controller="TaskManager" asp-action="Add">Add Tasks</a>
</div>



<table class="table table-bordered">
    <thead>
        <tr>
            <th>Task Name</th>
            <th>Task Description</th>
            <th>Completetion target(in Hours)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td>@task.TaskName</td>
                <td>@task.TaskDescription</td>
                <td>@task.TargetTimeinHours</td>
                <td>
                    <a asp-controller="Regions" asp-action="Edit" asp-route-id="@task.Id" class="btn btn-secondary"> Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
